.button-alinhamento{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    display: inline-block;
    padding: 19px 90px;
    background-color: rgba(95, 201, 8, 0.692);
    color: rgb(255, 255, 255);
    border-radius:4px;
    border: none;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
    background-image: url(imagemdefundo.jpg);
    background-size: cover;
}
#tituloprincipal{
    font-size: 150px;
    text-align: center;
    color: aliceblue;

}
#subtituloprincipal{
    color: aliceblue;
    text-align: center;
    font-size: 30px;

}
p{
    font-size: 20px;
    color:antiquewhite;
    text-align: center;
}
