.button-alinhamento{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    button {
        --glow-color: #39b367;
        --glow-spread-color: #39b367;
        --enhanced-glow-color: rgb(231, 206, 255);
        --btn-color: rgb(100, 61, 136);
        border: .25em solid var(--glow-color);
        padding: 1em 3em;
        color: var(--glow-color);
        font-weight: bold;
        background-color: var(--btn-color);
        border-radius: 1em;
        outline: none;
        box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 1em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
        text-shadow: 0 0 .5em var(--glow-color);
        position: relative;
        transition: all 0.3s;
       }
       
       button::after {
        pointer-events: none;
        content: "";
        position: absolute;
        top: 120%;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--glow-spread-color);
        filter: blur(2em);
        opacity: .7;
        transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
       }
       
       button:hover {
        color: black;
        background-color: #176635;
        box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 2em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
       }
       
       button:active {
        box-shadow: 0 0 0.6em .25em var(--glow-color),
               0 0 2.5em 2em var(--glow-spread-color),
               inset 0 0 .5em .25em var(--glow-color);
       }
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-image: linear-gradient(black,rgb(53, 53, 53));
}
body {
    
    background-image: url(imagemdefundo.jpg);
    background-size: cover;

}

#tituloprincipal{
    font-size: 150px;
    text-align: center;
    color: aliceblue;

}
#subtituloprincipal{
    color: aliceblue;
    text-align: center;
    font-size: 30px;

}

.header1{
    background-color: aliceblue;
    text-align: left;
    
}
.p1{
    text-align: left;
    background-color: #000000;
    padding: 10px 220px;
    position: fixed;
}
  p {   
     font-size: 20px;
    color:rgb(15, 9, 1);
    text-align: center;
    background-image: linear-gradient( 0deg, rgb(10, 248, 34), #8cea9f );
    border-radius: 20px;
    margin-left: 60px;
    margin-right: 900px;
    margin-top: 120px;
  }
 #paragrafo2{
    background-image:linear-gradient( 0deg, rgb(10, 248, 34), #8cea9f ) ;
    font-size: 20px;
    color:rgb(15, 9, 1);
    text-align: center;
    border-radius: 20px;
    margin-left: 900px;
    margin-right: 60px;
  }
  h1{

    color: antiquewhite;
    text-align: center;
  }
  h2{

    color: antiquewhite;
    text-align: center;
  }
