.button-alinhamento{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    border-radius: 57px;
    background: linear-gradient(145deg, #39b367, #309656);
    box-shadow:  5px 5px 13px #33a25d,
                 -5px -5px 13px #37ac63;
    display: inline-block;
    padding: 19px 90px;
    color: rgb(255, 255, 255);
    border: none;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-image: linear-gradient(black,rgb(53, 53, 53));
}
body {
    
    background-image: url(imagemdefundo.jpg);
    background-size: cover;

}

#tituloprincipal{
    font-size: 150px;
    text-align: center;
    color: aliceblue;

}
#subtituloprincipal{
    color: aliceblue;
    text-align: center;
    font-size: 30px;

}

.header1{
    background-color: aliceblue;
    text-align: left;
    
}
.p1{
    text-align: left;
    background-color: #000000;
    padding: 10px 220px;
    position: fixed;
}
  p {   
     font-size: 20px;
    color:rgb(15, 9, 1);
    text-align: center;
    background-image: linear-gradient( 0deg, rgb(10, 248, 34), #8cea9f );
    border-radius: 20px;
    margin-left: 60px;
    margin-right: 900px;
    margin-top: 120px;
  }
