*{
    margin: 0;
    padding: 0;
    
}
  
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
  
a:hover {
    opacity: 0.7;
}
  
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
 }

  
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
body{
    margin:0;
    padding:0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: #ffffff;
  }
  
  .wrapper{
    width: 100%;
    margin: 0 auto;
  }
  
  main{
    display: block;
    background-color: #FFF;
  }
  
  .container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
    color: #FFF;
  }
  
  section.module p{
    margin-bottom: 40px;
  }
  
  section.module:last-child{
    margin-bottom: 0;
  }
  
  section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
  }
  
  section.module.content{
   padding: 40px 0;
   background: #23232e;; 
  }
  
  section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  
  section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  }
  
  
  section.module.parallax-1{
    background-image: url(wallpaperbetter.com_1920x1080.jpg);
  }
  
  section.module.parallax-2{
    background-image: url(real2.jpg);
  }
  
  section.module.parallax-3{
    background-image: url(barca.jpg);
  }
  section.module.parallax-4{
    background-image: url(milan.webp);
  }
  section.module.parallax-5{
    background-image: url(bayern.webp);
  }
  section.module.parallax-6{
    background-image: url(alt.webp);
  }
  section.module.parallax-7{
    background-image: url(cru.jpg);
  }
  section.module.parallax h1{
    color: #FFF;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
  }
  
  @media all and (max-width: 820px) {
    section.module h2 {
      font-size: 32px;
    }
    .module h2, p{
      padding: 0 8px;
    }
  
    .container{
      margin:0;
      padding:0;
      color: #FFF;
    }
  
    section.module.parallax h1 {
      font-size: 36px;
    }
  }
  #voltar-topo {
    background-color: white;
    border-radius: 20%;
    border: 3px white;
    font-size: 35px;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: sticky;
    bottom: 20px;
    left: 0;
    margin-left: 3%;
    margin-top: 50px;
    color: black;
  }
